{% include utilities/group-by-array.html collection=site.posts field="tags" %}

<div class="space-before">
    <div class="card bg-light">
        <div class="card-body p-2">
            <div class="card-title">
                <div>
                    <h5 style="display: inline-block;">Filter by Tag</h5> [<a href="#"  data-tooltip="Use tags to find similar days in the past">?</a>]
                </div>
            </div>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
             <span class="site-tag" style="margin-right: 3px;">
                <a href="#{{ tag | first | slugify }}"
                    style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                        {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>